<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weng.quick_blog.mapper.article.ArticleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weng.quick_blog.entity.article.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="author" property="author" />
        <result column="content" property="content" />
        <result column="content_format" property="contentFormat" />
        <result column="read_num" property="readNum" />
        <result column="like_num" property="likeNum" />
        <result column="cover_type" property="coverType" />
        <result column="cover" property="cover" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="recommend" property="recommend" />
        <result column="category_id" property="categoryId" />
        <result column="publish" property="publish" />
        <result column="top" property="top" />
    </resultMap>

    <sql id="homeArticleColumn">
        id,title,`description`,author,read_num,like_num,cover,cover_type,create_time,top
    </sql>

    <sql id="manageArticleColumn">
        id,title,`description`,author,read_num,like_num,cover,cover_type,create_time,top,publish,recommend,category_id
    </sql>

    <update id="updateReadNum">
        update article set read_num = read_num + #{num} where id = #{id}
    </update>
    <update id="updateLikeNum">
        update article set like_num = like_num + #{num} where id = #{id}
    </update>

    <select id="listArticleVO" resultType="com.weng.quick_blog.entity.article.vo.ArticleVO">
        select <include refid="manageArticleColumn" /> from article
        <where>
            <if test="title!=null and title!=''">
                and title like concat('%',#{title},'%')
            </if>
        </where>
        order by update_time desc
    </select>
    <select id="queryPageCondition" resultType="com.weng.quick_blog.entity.article.vo.ArticleVO">
        select <include refid="homeArticleColumn" /> ,0 as `type` from article
        <where>
            <if test="recommend!=null and ">
                and recommend = #{recommend}
            </if>
            <if test="categoryId!=null">
                and category_id = #{categoryId}
            </if>
            <if test="publish!=null">
                and publish = #{publish}
            </if>
        </where>
        <if test="recommend!=null">
            order by top desc,recommend desc,
        </if>
        <if test="latest!=null">
            order by top desc,create_time desc,
        </if>
        <if test="favorite!=null">
            order by top desc,like_num desc,
        </if>
    </select>
    <select id="getSimpleArticleVO" resultType="com.weng.quick_blog.entity.article.vo.ArticleVO">
        select <include refid="homeArticleColumn"/> from article where id=#{id}
    </select>
    <select id="checkByCategory" resultType="java.lang.Integer">
        select count(*) from article where category_id like concat('%',#{categoryId},'%')
    </select>
</mapper>
